<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.is-programmer.bachue</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>C761904C-802C-4B16-A220-02A76059C753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03ACEE2F-D863-427D-A294-68B9E202F245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bachue Zhou</string>
	<key>description</key>
	<string>Search in all Github repositories you starred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Star</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>githubstar</string>
				<key>script</key>
				<string>output=`/usr/bin/ruby -KU search.rb {query}`

IFS=$'\n'
for line in $output
do
    echo $line
done
unset IFS</string>
				<key>subtext</key>
				<string>Search in all github repositories you starred</string>
				<key>title</key>
				<string>Github Star</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C761904C-802C-4B16-A220-02A76059C753</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>03ACEE2F-D863-427D-A294-68B9E202F245</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03ACEE2F-D863-427D-A294-68B9E202F245</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C761904C-802C-4B16-A220-02A76059C753</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
